APP_ENV={#APP_ENV#}
APP_URL={#APP_URL#}
ADMIN_USERNAME={#ADMIN_USERNAME#}
ADMIN_PASSWORD={#ADMIN_PASSWORD#}
JWT_SECRET={#JWT_SECRET#}
DB_HOST=localhost
DB_PORT=3306
DB_NAME={#DB_NAME#}
DB_USER={#DB_USER#}
DB_PASS='{#DB_PASS#}'
SEO_NAME="{#SEO_NAME#}"
SEO_TITLE="{#SEO_TITLE#}"
SEO_DOMAIN="{#SEO_DOMAIN#}"
SEO_DESC="{#SEO_DESC#}"
SEO_DESC_SHORT="{#SEO_DESC_SHORT#}"
SEO_GITHUB_URL="{#SEO_GITHUB_URL#}"
SEO_LINKEDIN_URL="{#SEO_LINKEDIN_URL#}"
SEO_TWITTER_USER="{#SEO_TWITTER_USER#}"
SEO_AVATAR_URL="{#SEO_AVATAR_URL#}"
